<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>25 + 5 Clock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container clock-container">
      <h2 class="clock-title text-center">25 + 5 Clock</h2>
      <i class="bi bi-chat-left-quote subtitle text-center"> Work & Chill Clock</i>
      
      <div class="row setting-container">
        <!-- Titles for Break and Session -->
        <div class="col-6 col-md-4">
          <h3 id="break-label" class="setting-title">Break Length</h3>
          <div class="col-6 col-md-4 control-container">
            <button id="break-decrement" (click)="breakDecrement()" type="button" class="btn btn-link bi bi-arrow-down"></button>
            <h2 id="break-length" class="setting-value">{{breakLength}}</h2>
            <button id="break-increment" (click)="breakIncrement()" type="button" class="btn btn-link bi bi-arrow-up"></button>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <h3 id="session-label" class="setting-title">Session Length</h3>
          <div class="col-6 col-md-4 control-container">
            <button id="session-decrement" (click)="sessionDecrement()" type="button" class="btn btn-link bi bi-arrow-down"></button>
            <h2 id="session-length" class="setting-value">{{sessionLength}}</h2>
            <button id="session-increment" (click)="sessionIncrement()" type="button" class="btn btn-link bi bi-arrow-up"></button>
          </div>
        </div>
      </div>      
      
      <!-- Timer Display -->
      <div class="text-center timer-display">
        <h2 id="timer-label">{{ isSession ? 'Session' : 'Break' }}</h2>
        <h1 id="time-left">{{sessionTime}}</h1>
      </div>
      
      <!-- Controls for Start/Stop and Reset -->
      <div class="text-center controls">
        <i id="start_stop" (click)="startStop()" class="bi bi-play-fill control-icon"></i>
        <i class="bi bi-pause-fill control-icon"></i>
        <i id="reset" (click)="resetTimer()" class="bi bi-arrow-repeat control-icon"></i>
      </div>
      
      <audio id="beep" src="https://www.soundjay.com/button/beep-07.wav" preload="auto"></audio>

      <!-- Footer -->
      <p class="footer">Designed and Coded by Siwar Benzayed</p>
    </div>
  </body>
</html>
